<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ribbons</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="ribbon_styles.css">
</head>
<body>
    <div class="container my-5">
        <h4>Ribbons</h4>
        <hr>
        <div class="row">
            
            <div class="col-md-3">
                <div class="ribbon-box">
                    <div class="ribbon ribbon-top-left"><span>Top Left</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="ribbon-box">
                    <div class="ribbon ribbon-top-right"><span>Top Right</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <!-- ribbon 3 -->
            <div class="col-md-3">
                <div class="ribbon-box">
                    <div class="ribbon ribbon-top-left ribbon-orange"><span>Top Left</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <!-- ribbon 4 -->
            <div class="col-md-3">
                <div class="ribbon-box">
                    <div class="ribbon ribbon-top-right ribbon-red"><span>Top Right</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur sadipscing elitr, 
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                        magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
